$header-height: 80px;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  // flex-shrink: 1;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url(../images/the-push-rod-2537318.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(../images/the-push-rod-2537318.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-attachment: fixed;
  z-index: 1;

  &__background {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    height: $header-height;
    background-color: rgba(0, 0, 0, 0.4);
    text-shadow: 3px 6px 10px;
  }
}

.nav {
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    width: 255px;

    &--second {
      justify-content: flex-end;
    }
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    text-decoration: none;
    color: #c7c7c7;
    font-size: 1rem;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 900;
    transition-duration: 0.5s;

    &:hover {
      color: #000;
      transition-duration: 0.5s;
    }
  }
}

.logo_title {
  font-family: 'Marck Script', cursive;
  color: #000;
  margin: 0;
}

.phone {
  list-style: none;
  text-shadow: none;
  color: #696969;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

.services {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  &__content {
    width: 100%;
    height: 100%;
    padding: 20px;
  }

  &__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 18px;
    color: #000;
    text-shadow: 3px 6px 10px;
  }

  &__blocks {
    display: flex;
    flex-direction: row;
    // gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    // padding: 0 50px;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    width: 30%;
    // height: 100%;
  }

  &__item {
    min-width: 80%;
    width: 60%;
    height: 210px;
    border: 1px solid dimgray;
    // box-shadow: 0 0 20px #ADFF2F;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px;
    margin-bottom: 18px;
    color: #000;
    transition-duration: 0.5s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      // box-shadow: 0 0 30px #7FFF00;
      transform: translateY(-10px);
      transition-duration: 0.5s;
    }
  }

  &__image_wrap {
    width: 85px;
    height: 85px;
    margin: 0 auto;
    border: 5px solid #000;
    border-radius: 50%;
  }
}

.about {
  display: flex;
  width: 100%;
  background-image: linear-gradient(#fff9ea, #98FB98);
  font-family: 'Roboto', sans-serif;
  border-top-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  overflow: hidden;
  padding: 50px 0;

  &__description {
    min-width: 50%;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-shadow: 3px 6px 10px;
  }

  &__text {
    font-size: 1.5rem;
    color: #000;
  }

  &__photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    min-width: 50%;
    height: 100%;
    padding: 10px 100px 0 0;
  }

  &__image {
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 40%;
    max-height: 40%;;
    margin-bottom: 20px;
    margin-right: 20px;
    opacity: 0.7;
    box-shadow: 3px 6px 10px;
  }
}

.invite {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;

  &__content {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  &__title {
    font-size: 3rem;
    margin: 0;
  }

  &__title_small {
    font-size: 2rem;
    margin-bottom: 4rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    text-decoration: none;
  }

  &__arrow {
    margin-left: -60px;
  }

  &__button {
    background-color: #ff0;
    border: #ff0;
    border-radius: 10px;
    padding: 20px 60px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #006400;
    font-size: 1.7rem;
    transition-duration: 0.3s;

    &:hover {
      background-color: #ffd700;
      transition-duration: 0.3s;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

.benefits {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#fff9ea, #98FB98, #fff9ea);
  text-align: center;
  border-top-left-radius: 50% 10%;
  padding-bottom: 30px;
  box-shadow: 0 6px 15px #000;

  &__title {
    margin: 0;
    padding: 50px 0;
    font-size: 2.8rem;
    font-weight: bold;
    text-shadow: 3px 6px 10px;
  }

  &__text {
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: normal;
    width: 700px;
  }

  &__img {
    margin-right: 20px;
  }

  &__description_block {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;

    &:first-child {
      padding-top: 50px;
    }
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  background-color: #fff9ea;
  padding: 30px 40px 40px;
  text-align: center;

  &__title {
    font-size: 2rem;
    text-shadow: 3px 6px 10px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__recall {
    width: 270px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px;
    padding: 5px;
    transition-duration: 0.5s;
    background-color: lightyellow;

    &:hover {
      transform: translateY(-20px);
      transition-duration: 0.5s;
    }
  }

  &__img_wrap {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border: 5px solid #000;
    border-radius: 50%;
    background-color: lightgreen;
  }

  &__img {
    width: 80px;
    height: 80px;
  }
}

.stars {
  display: flex;
  justify-content: center;

  &__item {
    width: 25px;
    height: 25px;
    background-image: url(../images/iconfinder_019_-_Star_2793016.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 10px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.contacts {
  text-align: center;
  background-color: #fff9ea;
  background-image: linear-gradient(#fff9ea, #98FB98);
  padding-bottom: 30px;

  &__title {
    font-size: 2rem;
    margin: 0;
    padding: 20px 0 60px;
    text-shadow: 3px 6px 10px;
  }

  &__container {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }

  &__contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img {
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 4px solid;
    padding: 1px;
    border-radius: 50%;
    box-shadow: 6px 6px 12px;
  }

  &__description {
    margin-left: 20px;

    &_title {
      margin: 0;
      padding-bottom: 5px;
    }
  }

  &__text {
    font-size: 1rem;
    margin: 0;
  }

  &__network {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 5px;

    &:hover {
      transform: rotate(360deg);
      transition-duration: 0.5s;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #000;
  text-align: center;
  padding: 0 50px;

  &__title {
    color: lightgrey;
    font-family: 'Pacifico', cursive;
    margin: 0;
    text-shadow: 3px 3px 10px;
  }

  &__social {
    width: 150px;
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    padding-bottom: 5px;
  }

  &__img {
    width: 30px;
    height: 30px;
  }

  &__text {
    color: grey;
    margin-left: 10px;
  }
}

@media (max-width: 899px) {
  .header {
    &__background {
      height: $header-height - 35px;
    }
  }

  .nav {
    &__link {
      font-size: 0.6rem;
    }
  }

  .logo_title {
    font-size: 1rem;
  }

  .services {
    &__content {
      padding: 15px;
    }

    &__title {
      font-size: 2rem;
      margin: 0;
    }

    &__item {
      font-size: 0.8rem;
    }
  }

  .about {
    &__description {
      padding-top: 50px;
    }

    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1rem;
    }
  }

  .benefits {
    &__title {
      font-size: 2rem;
    }

    &__text {
      font-size: 1.5rem;
    }
  }

  .footer {
    &__title {
      font-size: 1rem;
    }
  }
}

@media (max-width: 599px) {
  body {
    background: #fff9ea;
  }

  .container {
    background-color: #fff9ea;
  }

  .header {
    &__background {
      height: $header-height - 40px;
      background-color: dimgray;
    }
  }

  .services {
    &__content {
      padding: 10px;
    }

    &__title {
      font-size: 1.5rem;
    }

    &__wrap {
      height: 50%;
      width: 50%;
    }
  }

  .invite {
    &__content {
      color: #000;
    }
  }
}